@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@source "../../../packages/ui";

@theme {
  --font-cartoon: "Fuzzy Bubbles", sans-serif;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
}

@theme {
  --color-cream: #FFFBF0;
}

@theme {
  --color-dark-cream: #705400;
}

body {
  font-family: "Manrope", sans-serif;
}